{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ profile.first_name}} {{ profile.last_name}} @{{ profile.username}}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">


                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ profile.first_name}} {{ profile.last_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ profile.username }}

                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{usr_followers}} <br />
                                            Подписан: {{usr_following}}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                {{ posts_count }}
                                            </div>
                                    </li>
                                    {% if fol_user == profile %}
                                        <div class="h6 text-muted">
                                            <li class="list-group-item">
                                                Вы уже подписаны
                                            </li>
                                        </div>
                                    {% elif following %}
                                        <li class="list-group-item">
                                            <a class="btn btn-lg btn-light"
                                               href="{% url 'profile_unfollow' profile.username %}" role="button">
                                                Отписаться
                                            </a>
                                        </li>
                                    {% else %}
                                         <li class="list-group-item">
                                             <a class="btn btn-lg btn-primary"
                                                href="{% url 'profile_follow' profile.username %}" role="button">
                                                 Подписаться
                                             </a>
                                         </li>
                                    {% endif %}

                            </ul>
                    </div>
            </div>

            <div class="col-md-9">

                <!-- Начало блока с отдельным постом -->
                    {% for post in page %}
                    {% include "post_item.html" with post=post %}
                    {% endfor %}
                    {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator%}
                    {% endif %}
                <!-- Конец блока с отдельным постом -->

                <!-- Остальные посты -->

                <!-- Здесь постраничная навигация паджинатора -->
             </div>
    </div>
</main>
{% endblock %}